.tile {
    display: inline-flex;
}

.grass {
    background-color: #474d20;
}
.grass1 {
    background-image: url('/tiles/grass1.png');
}
.grass2 {
    background-image: url('/tiles/grass2.png');
}
.grass3 {
    background-image: url('/tiles/grass3.png');
}
.chest {
    background-image: url('/tiles/chest.png');
}
.rock {
    background-image: url('/tiles/rock.png');
}
.bush {
    background-image: url('/tiles/bush1.png');
}
.bush1 {
    background-image: url('/tiles/bush2.png');
}
.bush2 {
    background-image: url('/tiles/bush3.png');
}
.shroom {
        background-image: url('/tiles/mushroom.png');
}